*.ts linguist-detectable=true
*.ts linguist-language=TypeScript

*.svelte linguist-detectable=true
*.svelte linguist-language=Svelte

*.scss linguist-detectable=true
*.scss linguist-language=SCSS

*.js linguist-detectable=true
*.js linguist-language=JavaScript

*.html linguist-detectable=true
*.html linguist-language=HTML

test/**/*.ts linguist-vendored